* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
input,
select,
textarea,
button {
  font-family: 'Inter', sans-serif;
}

html {
  touch-action: manipulation;
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: $TEXT-LIGHT;
  color: $TEXT-DARK;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.container {
  padding-inline: 40px;
}
